<a href="https://colab.research.google.com/github/janoroy/Business-Analytics-with-Python/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x="This is \"python\"programming"
print(x)

This is "python"programming

In [ ]:
print("\"Jano\" Roy")

"Jano" Roy

In [ ]:
print("he is a \"doctor\"")

he is a "doctor"

In [ ]:
print("Jano\n roy")

Jano
 roy

In [ ]:
x=["Jano","Roy"]
x.insert(2,"sandra")
print(x)

['Jano', 'Roy', 'sandra']

In [ ]:
x=["Jano","Roy",]

y=input("Enter a name")
n=int(input("enter an index"))
x.insert(n,y)
print(x)

Enter a nameSandra
enter an index2
['Jano', 'Roy', 'Sandra']

In [ ]:
def sandra():
  y=int(input("Enter Index"))
  n=input("Enter a name:")
  x.insert(y,n)

In [ ]:
sandra()

Enter Index3
Enter a name:Jano

In [ ]:
def Jano():
  a=int(input("enter number: "))
  b=int(input("enter a number"))
  print(a+b)
  print(a-b)
  print(a/b)
  print(a*b)

In [ ]:
Jano()

enter number: 50
enter a number40
90
10
1.25
2000

In [31]:
def maths(a,b):
  print(a+b)

In [32]:
x=int(input("enter first value"))
y=int(input("enter second value"))
maths(x,y)

enter first value10
enter second value20
30